- var id = id || name, value = form && form[name] || value || null, options = options || [], classes = classes || null
select(id=id, name=name, class=classes)
  - if (options instanceof Array)
    - each option in options
      option(value=option, selected=value === option ? 'selected' : null)= option
  - else
    - for (var option in options)
      option(value=option, selected=value === option ? 'selected' : null)= options[option]
!= partial('form/errors', {name: name})
