- var id = id || name, value = form && form[name] || value || null, placeholder = placeholder || null, classes = classes || null
textarea(id=id, name=name, placeholder=placeholder, class=classes) #{value}
!= partial('form/errors', {name: name})
