- var id = id || name, value = form && form[name] || value || '', placeholder = placeholder || '', classes = classes || ''
textarea(id=id, name=name, placeholder=placeholder, class=classes) #{value}
!= partial('form/errors', {name: name})
